/************************************************
*
*   Main Stylesheet
*   @version (1.0)
*   @date (2023)
*
*   1.) GENERAL ______________________ @general
*   2.) HEADER _______________________ @header
*   3.) CONTENT ______________________ @content
*   4.) ABOUT ME _____________________ @aboutMe
*   5.) WORK _________________________ @work
*   6.) CONTACT ME ___________________ @contactMe
*   7.) RESUME _______________________ @resume
*   4.) FOOTER _______________________ @footer
*
************************************************/
  
/************************************************
   GENERAL                              @general

   The base styles for the page, text
   and links. Includes utility class styles
************************************************/
:root {
    --bg-color-one: #dcd6f7;
    --bg-color-four-dark: #61303e;
    --bg-color-five-dark: #2b293f;
    --bg-color-six-dark: #98ae80;
    --font-main-style: "Volkhov", serif;
    --font-sub-style: "Tsukimi Rounded", sans-serif;
    --font-timer-style: "Source Code Pro", sans-serif;
    --font-aboutme-style: "Merienda", sans-serif;

    --darkbg-color: #2d2d2d;
    --darkbg-highlight-color: #003F5C;
    --dark-text: #FB7979;

    --lightbg-color: #FCF9EC;
    --lightbg-highlight-color: #B0F4E6;
    --light-text: #191919;

    --timer-three: #b4869f;
    --timer-five: #4e4c67;

    --border: 3px;
    --color1: #6be89b;
    --color2: #0076a5;
    --from: 30deg;
    --distance: 46%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
a {
    font-family: var(--font-sub-style);
    font-size: 0.875rem;
    color: #000;
    text-decoration: none;
}
p {
    font-size: 1rem;
}
.light {
    background-color: var(--lightbg-color);
}
.dark {
    background-color: var(--darkbg-color);
}
.clear { 
    clear: both; 
}
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
.back-drop {
    opacity: 0;
    display: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: fixed;
}
.back-drop.closed {
    opacity: 0;  
    display: none;
    -webkit-animation: fadeOut 0.5s ease-out 0s 0.7 normal backwards;  
    -moz-animation: fadeOut 0.5s ease-out 0s 0.7 normal backwards;
    animation: fadeOut 0.5s ease-out 0s 0.7 normal backwards;
}
.back-drop.active {
    opacity: 0.7;
    background-color: #191919;
    -webkit-animation: fadeIn 0.25s ease-in 0s 0.7 normal forwards;  
    -moz-animation: fadeIn 0.25s ease-in 0s 0.7 normal forwards;
    animation: fadeIn 0.25s ease-in 0s 0.7 normal forwards;
    z-index: 2;
    display: block;
}
.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
}
.white {
    color: #FFF;
}
@keyframes movingBackground {
    0%    { background-position: 0% center; }
    16.66%   { background-position: 20% center; }
    33.33%   { background-position: 40% center; }
    50%   { background-position: 60% center; }
    66.66%   { background-position: 80% center; }
    83.33%   { background-position: 100% center; }
    100%  { background-position: 120% center; }
}

/************************************************
   HEADER                                @header

   The styles for the header which
   includes a title, an image and a 
   horizontal menu (desktop and mobile)
************************************************/
.header {
    color: #ffffff;
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    z-index: 999999;
}
.dark .header-title {
    color: var(--dark-text);
}
.light .header-title {
    color: var(--light-text);
}
.header-title {
    font-family: var(--font-main-style);
    font-weight: normal;
    display: inline-block;
    font-size: 3em;
    color: #000;
    margin: 1em auto;
    width: 100%;
    text-align: center;
}
@media screen and (min-width: 1000px) {
    .header-title {
        font-size: 3.75rem;
        top: 8rem;
    }
}
.header nav.desktop-menu {
    display: none;
}
.dark .header nav.mobile-menu {
    background-color: var(--darkbg-highlight-color);
}
.light .header nav.mobile-menu {
    background-color: var(--lightbg-highlight-color);
}
.header nav.mobile-menu {
    display: block;
    margin-right: 20px;
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 1.25rem;
    padding: 0.5rem;
}
.dark .header nav.mobile-menu ul {
    background-color: var(--darkbg-highlight-color);
}
.light .header nav.mobile-menu ul {
    background-color: var(--lightbg-highlight-color);
}
.header nav.mobile-menu ul {
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 2.4rem;
    background-color: #f9f9f9;
    width: 100%;
    height: 0px;
    text-align: center;
    z-index: 1;
    height: 0px;
}
.header nav.mobile-menu ul.active {
    height: auto;
    transition: height .3s ease;
    padding: 1rem;
}
.header nav.mobile-menu ul.inactive {
    height: 0px;
    transition: height .3s ease;
    overflow: hidden;
}
.header nav.mobile-menu ul li {
    display: block;
    margin-left: 25px;
    padding: 0.25rem;
}
.dark .header nav ul li a,
.dark .header nav ul li span {
    color: #FFF;
}
.dark .header nav ul li.active span,
.dark .header nav ul li.active svg {
    color: #FFEB3B;
    fill: #FFEB3B;
}
.light .header nav ul li a {
    color: #191919;
}
.light .header nav ul li.active span,
.light .header nav ul li.active svg {
    color: #9C27B0;
    fill: #9C27B0;
}
.header nav ul li a,
.header nav ul li span {
    font-family: var(--font-sub-style);
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 0;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
}
.header nav.mobile-menu ul li a,
.header nav.mobile-menu ul li span {
    background-color: transparent;
    transition: color 3s ease, background-color 3s ease;
}
.dark .header nav ul li a.active,
.dark .header nav ul li span.active {
    color: #FFF;
    font-weight: bold;
}
.light .header nav ul li a.active,
.light .header nav ul li span.active {
    color: #191919;
    font-weight: bold;
}
.dark .header nav ul li a.active::after,
.dark .header nav ul li span.active::after {
    background-color: #FFF;
}
.light .header nav ul li a.active::after,
.light .header nav ul li span.active::after {
    background-color: #191919;
}
.header nav ul li a.active::after,
.header nav ul li span.active::after {
    position: absolute;
    height: 2px;
    width: 100%;
    left: 50%;
    bottom: 0;
}
.dark .header nav.mobile-menu ul.active li a {
    color: #FFF;
}
.light .header nav.mobile-menu ul.active li a {
    color: #191919;
}
.header nav.mobile-menu ul.inactive li a,
.header nav.mobile-menu ul.inactive li span {
    color: transparent;
}
.dark .menu-bar {
    background-color: #FFF;
}
.light .menu-bar {
    background-color: #191919;
}
.menu-bar {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: all 0.5s;
    transform-origin: right;
}
.dark .toggle-theme {
    color: #FFF;
}
.light .toggle-theme {
    color: #191919;
}
.toggle-theme {
    float: right;
    padding: 0.2em;
}
.toggle-theme:hover {
    cursor: pointer;
}
.toggle-theme-mobile {
    color: #191919;
    font-family: var(--font-sub-style);
    font-size: 0.95em;
}
.toggle-theme-mobile:hover {
    cursor: pointer;
}
#menu-btn {
    position: absolute;
    right: 1rem;
    top: 0px;
    height: 3rem;
    width: 3rem;
}
#menu-btn .bar-one {
    position: absolute;
    right: 0.5rem;
    top: 0;
}
#menu-btn .bar-two {
    position: absolute;
    right: 0.5rem;
    top: 0.75rem;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}
#menu-btn .bar-three {
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
}
#menu-btn.active .bar-one {
    transform: rotate(-45deg);
}
#menu-btn.active .bar-two {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
#menu-btn.active .bar-three {
    transform: rotate(45deg);
    top: 1.55rem;
}
@media screen and (min-width: 1030px) {
    .header nav.desktop-menu {
        display: block;
    }
    .header nav.mobile-menu {
        display: none;
    }
    .dark .header nav.desktop-menu {
        background-color: var(--darkbg-highlight-color);
    }
    .light .header nav.desktop-menu {
        background-color: var(--lightbg-highlight-color);
    }
    .header nav.desktop-menu {
        height: 100%;
        margin-right: 20px;
        width: 100%;
        font-size: 1.25rem;
        background-color: var(--bg-color-one);
    }
    .header nav.desktop-menu ul li {
        display: inline-block;
        margin-left: 25px;
    }
    .header nav.mobile-menu ul li {
        display: none;
    }
    #menu-btn {
        display: none;
    }
}
.header nav ul li a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.dark .header nav ul li a:hover {
    color: #FFF;
}
.light .header nav ul li a:hover {
    color: #191919;
}
.header nav ul li a:hover::after {
    width: 100%;
}
.hero {    
    padding: 1rem;
    height:115vh;
    width:100vw;
}
.self .img-container {
    position: relative;
    padding: 1em;
    text-align: center;
}
.self .img-container img {
    width: 75%;
    max-width: 20em;
    border-radius: 50%;
    margin-bottom: 1em;
}
.emphasis {
    padding: 30px 0 8px;
    position: relative;
}
.dark .emphasis::before {
    background: #FB5B5A;
}
.light .emphasis::before {
    background: #67EACA;
}
.emphasis::before {
    content: "";
    position: absolute;
    left: 2%;
    bottom: 9px;
    width: 5.15rem;
    height: 5px;
    background: var(--bg-color-one);
    z-index: 2;
}
.nav-name {
    font-family: var(--font-sub-style);
    font-weight: bold;
}
.dark .nav-name {
    color: #FFEB3B;
}
.light .nav-name {
    color: #9C27B0;
}
div.personal {
    float: none;
    display: block;
    margin: 0 auto;
}
p.personal-txt {
    width: 100%;
    display: block;
    padding-left: 0;
    word-wrap: break-word;
    margin-top: 2em;
}
@media screen and (min-width: 600px) {
    .hero {    
        background-size: 50%;
    }
}
@media screen and (min-width: 1100px) {
    .hero {    
        background-size: 35%;
    }
}
@media screen and (min-width:1108px) {
    div.personal {
        width: 80%;
        max-width: 400px;
        float: left;
    }
    p.personal-txt {
        width: calc(100% - 400px);
        display: inline-block;
        padding-left: 2em;
        word-wrap: break-word;
        margin-top: 0;
    }
}

/************************************************
   CONTENT                               @content

   The styles for the content section
************************************************/
.content {
    flex-grow: 1;
    overflow: hidden;
    margin-top: 3rem;
}
.content-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.content-section .tag-container {
    display: flex;
    flex-wrap: wrap;
}
.dark .content-section .tag {
    background-color: var(--dark-text);
}
.light .content-section .tag {
    background-color: #FFF;
}
.content-section .tag {
    font-family: var(--font-main-style);
    display: inline-block;
    padding: 0.2rem 0.5rem 0.3rem;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #191919;
    font-weight: 600;
    margin: 0.1rem;
}
.content-section .tag-sm {
    font-size: .75rem;
    display: inline-block;
    letter-spacing: .15ch;
    font-weight: 400
}

.content-section .content-title {
    width: 100%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    display: block;
}
.content-section .main-content {
    flex: 1;
    width: 100%;
}
.content-section h2 {
    font-family: var(--font-main-style);
    font-weight: normal;
    padding-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 300;
}
.content-section h2:before {
    content: "{";
    font-size: 2.625rem;
    padding-right: 0.5rem;
}
.content-section h2:after {
    content: "}";
    font-size: 2.625rem;
    padding-left: 0.5rem;
}

/************************************************
   ABOUT ME                              @aboutMe

   The styles for the about me section
************************************************/
.about-me h2 {
    padding: 1rem;
    margin-bottom: 1rem;
    color: #FFF;
}
.dark .about-me .timer {
    background-color: var(--dark-text);
}
.light .about-me .timer {
    background-color: #9C27B0;;
}
.about-me .timer {
    font-family: var(--font-timer-style);    
    padding: 2rem;
}
.about-me .timer p {
    font-size: 3em;
    text-align: center;
    margin-bottom: 2rem;
    color: #FFF;
    font-family: var(--font-sub-style);
    letter-spacing: -3px;
}
.dark .about-me .timer span {
    background-image: linear-gradient(90deg, #ffeb3b 0%, #ffeb3b 33%, #FFF 67%, #FFF 100%);
}
.light .about-me .timer span {
    background-image: linear-gradient(90deg, var(--lightbg-highlight-color) 0%, var(--lightbg-highlight-color) 33%, #FFF 67%, #FFF 100%);
}
.about-me .timer span {
    text-transform: uppercase;
    background-size: 800% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: movingBackground 6s linear infinite;
    display: inline-block;
    font-size: 32px;
}
.about-me .timer .flex-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.about-me .timer .flex-columns .col {
    flex: 100%;
    text-align: center;
}
@media screen and (min-width: 800px) {
    .about-me .timer .flex-columns .col {
        flex: 25%;
    }
}
.dark .aboutme-section {
    color: var(--dark-text);
}
.light .aboutme-section {
    color: #191919;
}
.aboutme-section {
    width: 90%;
    height: 80%;
    padding: 3rem;
    margin: 4rem auto;
}
@media screen and (min-width: 800px) {
    .aboutme-section {
        width: 77%;
    }
}
.aboutme-section p {
    font-family: var(--font-main-style);
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 1em;
}
.dark .aboutme-section strong {
    background: #FFEB3B;
    color: #191919;
}
.light .aboutme-section strong {
    background: #9C27B0;
    color: #FFF;
}
.aboutme-section strong {
    font-family: var(--font-main-style);
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    display: inline;
    padding: 0.25em;
}

/************************************************
   WORK                                     @work

   The styles for the work section
************************************************/
.content-section .main-content .work {
    padding: 1rem;
}
.dark .card-list article {
    background-color: #000;
    color: #FFF;
    border: 5px solid #000;
}
.light .card-list article {
    background-color: var(--lightbg-highlight-color);
    color: #191919;
    border: 5px solid var(--lightbg-highlight-color);
}
.card-list { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    margin: 1rem auto;
    gap: 17px;
}
.card-list article {
    margin-bottom: 1rem;
    flex: 1 0 100%;
}
.card-list article a {
    position: relative;
    width: 100%;
    display: block;
}
.card-list article img {
    width: 100%;
}
.content-txt {
    padding: 0.5rem;
}
.content-txt,
.content-txt h3 {
    font-family: var(--font-main-style);
    font-weight: normal;
}
.dark .content-txt p,
.dark .content-txt h3 {
    color: #FFF;
}
.light .content-txt p,
.light .content-txt h3 {
    color: #191919;
}
.content-txt p,
.content-txt h3 {
    padding-bottom: 0.5rem;
    line-height: 1.5;
}
.dark .content-txt .card-btn {
    color: #191919;
    background-color: #FFEB3B;
}
.dark .content-txt .card-btn:hover {
    color: #191919;
    background-color: #f4e770;
}
.light .content-txt .card-btn {
    color: #FFF;
    background-color: #9C27B0;
}
.light .content-txt .card-btn:hover {
    color: #FFF;
    background-color: #c36ad2;
}
.content-txt .card-btn {
    font-family: var(--font-main-style);
    display: inline-block;
    padding: 0.5rem;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 1rem;
    margin: 0.5rem 0.1rem;
    border: none;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .card-list article {
        margin-bottom: 0;
        flex-basis: calc(100% / 4);
    }
}

/************************************************
   CONTACT ME                          @contactMe

   The styles for the contact me section
************************************************/
.content-section .main-content .contact-me {
    padding: 1rem;
}
.dark .contact-form {
    background-color: var(--darkbg-color);
    color: var(--dark-text);
}
.light .contact-form {
    background-color: #FFF;
    color: #191919;
}
.contact-form {
    width: 90%;
    height: 80%;
    padding: 1rem;
    margin: 1rem auto;
}
@media screen and (min-width: 800px) {
    .contact-form {
        width: 77%;
    }
}
.contact-form label {
    font-family: var(--font-main-style);
    font-weight: 600;
    display: block;
    padding-bottom: 1rem;
}
.contact-form input,
.contact-form textarea {
    font-family: var(--font-main-style);
    font-weight: 100;
}
.contact-form input#email,
.contact-form input#name {
    width: 100%;
    border-bottom: 2px solid var(--bg-color-five-dark);
    border-left: none;
    border-right: none;
    border-top: none;
    height: 3rem;
    margin-bottom: 4rem;
    padding: 1em;
    font-size: 1.25em;
}
.contact-form textarea#message {
    width: 100%;
    height: 10rem;
    border-bottom: 2px solid var(--bg-color-five-dark);
    border-left: 1px dotted var(--bg-color-five-dark);
    border-right: 1px dotted var(--bg-color-five-dark);
    border-top: 1px dotted var(--bg-color-five-dark);
    margin-bottom: 4rem;
    padding: 1em;
    font-size: 1.25em;
}
form .contact-btn {
    display: inline-block;
}
.dark form .contact-btn {
    background-color: var(--dark-text);
    border: 1px solid var(--dark-text);
    color: #191919;
}
.dark form .contact-btn:hover {
    background-color: #f59595;
}
.light form .contact-btn {
    background-color: var(--lightbg-highlight-color);
    border: 1px solid var(--lightbg-highlight-color);
    color: #191919;
}
.light form .contact-btn:hover {
    background-color: #71e1ca;
}
form .contact-btn {
    border-radius: 16px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.125rem;
    padding: 5px;
    text-decoration: none;
    transition: all .2s;
    width: 7rem;
}
form .contact-btn:active,
form .contact-btn:hover {
  outline: 0;
}
form .contact-btn:hover {
  background-color: var(--bg-color-five);
}
.dark .thanks {
    color: #FFF;
}
.light .thanks {
    color: #191919;
}
.thanks {
    text-align: center;
    font-size: 5rem;
    margin-top: 3rem;
    font-weight: 1000;
    font-family: var(--font-main-style);
}
@media screen and (min-width:600px) {
    .contact-form {
        width: 77%;
        padding: 3rem;
        margin: 4rem auto;
    }
}

/************************************************
   RESUME                                 @resume

   The styles for the resume section
************************************************/
.content-section .main-content .resume {
    padding: 1rem;
}
.dark .resume-form { 
    border: 1px solid #000;
}
.light .resume-form { 
    border: 1px solid #dfdfdf;
}
.resume-form { 
    width: 90%;
    margin: 1rem auto;
    border: 1px solid #dfdfdf;
    background-color: #FFF;
}
@media screen and (min-width: 800px) {
    .resume-form { 
        width: 77%;
    }
}
.resume-form .hr {
    width: 100%;
    height: 1px;
    background-color: var(--bg-color-six-dark);
    margin-top: 10px;
    margin-bottom: 10px;
}
.resume-form h3 {
    font-family: var(--font-sub-style);
    font-weight: normal;
    padding: 0 0 16px 0; 
    font-size: 2.625rem; 
    font-weight: normal;
    letter-spacing: 5px;
}
.resume-form h4 {
    padding: 0 0 16px 0; 
    font-size: 1.125rem; 
}
.resume-form p {
    font-family: var(--font-main-style);
    font-weight: 300;
    color: #191919; 
    font-size: 1rem;
    margin-bottom: 5px;
    line-height: 1.5;
}
.resume-form p.sm,
.resume-form p.sm a {
    font-size: 0.875rem;
}
.resume-form p span {
    font-family: var(--font-main-style);
    font-weight: 300;
    color: #959595; 
    display: block;
    font-size: 0.75rem;
    line-height: 1.5;
    margin-bottom: 5px;
}
.resume-form a {
    font-family: var(--font-main-style);
    font-weight: 300;
    color: #191919; 
    text-decoration: underline;
    font-size: 1rem;
}
.resume-form .resume-bold {
    font-family: var(--font-main-style);
    font-weight: 600;
}
.resume-form .resume-bold span {
    font-family: var(--font-main-style);
    font-weight: 300;
}
.resume-form .resume-bold a,
.resume-form .resume-bold span {
    font-family: var(--font-main-style);
    font-weight: 300;
}
.resume-form .resume-title {
    font-family: var(--font-main-style);
    font-weight: 600;
    letter-spacing: -3px;
    display: inline-block;
    width: 50%;
}
.resume-form .resume-title span.resume-subtitle {
    font-family: var(--font-main-style);
    font-weight: 100;
    font-size: 0.938rem;
    display: block;
    letter-spacing: 2px;
}
.resume-form figure { 
    display: inline-block;
}
.resume-form figure .resume-img { 
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 2rem;
}
.resume-form article {
    padding-bottom: 1rem;
}
.resume-form article div {
    padding-bottom: 1rem;
}
.resume-form .objective { 
    width: 100%; 
    float: left; 
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.resume-form .contact {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.resume-form .main {
    width: 100%;
}
.resume-form .main .sidebar {
    background-color: #082a4d;
}
.resume-form .main .sidebar p,
.resume-form .main .sidebar a {
    color: #FFF;
}
.resume-form .main .edu-exp {
    padding: 1rem;
}
.resume-form .main .sidebar {
    padding: 1rem;
}
@media screen and (min-width: 600px) {
    .resume-form { 
        width: 77%;
        margin: 4rem auto;
    }
    .resume-form .main .edu-exp {
      flex: 75%;
    }
    .resume-form .main .sidebar {
      flex: 25%;
    }
}
@media screen and (min-width: 832px) {
    .resume-form .main {
        display: flex;
    }
    .resume-form .main .edu-exp {
        padding: 5rem;
    }
    .resume-form .main .sidebar {
        padding: 16rem 5rem 5rem 5rem;
    }
}
form .resume-btn {
    display: inline-block;
}
.dark form .resume-btn {
    background-color: var(--dark-text);
    border: 1px solid var(--dark-text);
    color: #191919;
}
.light form .resume-btn {
    background-color: var(--lightbg-highlight-color);
    border: 1px solid var(--lightbg-highlight-color);
    color: #191919;
}
form .resume-btn {
    border-radius: 16px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.125rem;
    padding: 5px;
    text-decoration: none;
    transition: all .2s;
    width: 7rem;
}
form .resume-btn:active,
form .resume-btn:hover {
  outline: 0;
}
.resume-list li {
    font-family: var(--font-main-style);
    font-weight: 300;
    color: #191919;
    font-size: 1rem;
    margin-bottom: 5px;
    line-height: 1.5;
}
.resume-list {
    margin-left: 13px;
}
.resume-list li.sm {
    font-size: 0.875rem;
}

/************************************************
   FOOTER                                 @footer

   The styles for the footer
************************************************/
.dark .footer {
    background-color: var(--darkbg-highlight-color);
}
.light .footer {
    background-color: var(--lightbg-highlight-color);
}
.footer {
    text-align: center;
    height: 3rem;
    width: 100%;
    display: table;
    padding: 0.5rem;
}
.dark .footer h4 {
    color: #FFF;
}
.light .footer h4 {
    color: #191919;
}
.footer h4 {
    font-family: var(--font-sub-style);
    font-size: 1.125rem;
    font-weight: normal;
    color: #191919;
}
.footer a {
    font-family: var(--font-sub-style);
    font-size: 2em;
    font-weight: normal;
    color: #191919;
}
.footer div.vertical-center {
    display:table-cell;
    vertical-align:middle;
}
.social-icons {
    margin-top: 1.5em;
}
.social-icons a {
    padding: 0 1em;
}
.dark.social-icons {
    background-color: transparent;
}
.dark.social-icons svg path {
    fill: #FFEB3B;
}
.light.social-icons {
    background-color: transparent;
}
.light.social-icons svg path {
    fill: #9C27B0;
}

